body {
    font-family: 'Lato', sans-serif;
    
}

h1 {
    margin-bottom: 40px
}

label {
    color: rgb(255, 255, 255)
}

.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 80%;
    margin-left: 3px
}

.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px
}

.card-contact {
    border-radius: 5px;
    margin: auto !important;
    text-align: -webkit-center !important;
    max-width: 100% !important;
    padding-bottom: 2em;
    
}
.col-md-12{
    width: 50%;
}
#contact-form > div > div.row.contact{
    margin-top: 0% !important;
}
body > main > div > div.text-center.mt-5 > h1{
    margin-bottom: 0% !important;
}

.alert-dismissable, .alert-dismissible{
    margin-top: 5% !important;
    opacity: 100% !important;
    width: fit-content !important;
    transition-property: opacity !important;
    transition-duration: 6s;
}

.alert-dismissable, .alert-dismissible:hover{
    opacity: 0% !important;
}
